table {
  font-size: 100%;
}

/* THIS IS FOR TBODY STYLE */
td,
th {
  padding: 0px 0 0px 0px !important;
}
.posctr {
  text-align: center !important;
}

/* THIS IS FOR TABLE HEADER STYLE */
thead > tr > th {
  padding: 10px 13px 15px 2px !important;
}
.pd {
  padding: 10px !important;
}

@media (max-width: 380px) {
  table {
    font-size: 80%;
  }
}
