/* .card .card-title {
  font-size: 22px !important;
}

.card.horizontal .card-image {
  max-width: 30% !important;
  margin: auto;
  padding: 0px 5px 20px 25px;
}

.card .card-action {
  padding: 8px 24px !important;
}

@media (max-width: 450px) {
  .card .card-title {
    font-size: 20px !important;
  }
  .card .card-content {
    padding: 15px 22px 1px 22px;
  }
} */

.loadings {
  text-align: center;
}

.upfixt {
  padding-bottom: 10px;
}

.maintitle {
  font-size: 28px !important;
  padding: 10px 2px !important;
}
