.team-container {
  max-width: 900px;
}

.card .card-title {
  font-size: 22px !important;
}

.card.horizontal .card-image {
  max-width: 13% !important;
  margin: auto;
  padding: 10px 5px 20px 25px;
}

@media (max-width: 960px) {
  .card.horizontal .card-image {
    max-width: 25% !important;
  }
}

.card .card-content p {
  margin: 2px 0 !important;
}

.card .card-action {
  padding: 13px 24px 13px 13px !important;
}

.home-title {
  font-size: 18px;
  font-weight: bold;
}

.loadings {
  text-align: center;
}

/* .btn-small {
  padding: 0 0 0 25px !important;
  background-color: white !important;
  margin-left: auto !important;
} */

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: brown !important;
}
button {
  border: none !important;
  background: none !important;
  padding: 0 10px 0 10px !important;
}

@media (max-width: 450px) {
  .card .card-title {
    font-size: 20px !important;
  }
  .card .card-content {
    padding: 15px 22px 1px 22px !important;
  }
}
