.logo {
  max-width: 30% !important;
  margin: auto !important;
  padding: 10px 0 !important;
}

.squadtitles {
  font-size: 18px;
  font-weight: bold;
}

.paddingdown {
  padding: 5px 0.75rem !important;
}

.manager {
  display: flex !important;
}

.detail-container {
  max-width: 580px;
  margin-left: auto !important;
  margin-right: auto !important;
}
